on init
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/etc/vendor/lib/libril-qc-hal-qmi.so /vendor/lib/libril-qc-hal-qmi.so bind
    mount none /system/etc/vendor/lib64/libril-qc-hal-qmi.so /vendor/lib64/libril-qc-hal-qmi.so bind

on boot
    mount none /system/overlay/BluetoothResCommon.apk /vendor/overlay/BluetoothResCommon.apk bind

    # FocalTech Gesture
    # /sys/devices/platform/soc/894000.i2c/i2c-3/3-0038/
    chown system system /sys/bus/i2c/devices/3-0038/fts_dclick_mode
    chmod 0660 /sys/bus/i2c/devices/3-0038/fts_dclick_mode

    chown system system /sys/bus/i2c/devices/3-0038/fts_swipe_mode
    chmod 0660 /sys/bus/i2c/devices/3-0038/fts_swipe_mode

    chown system system /sys/bus/i2c/devices/3-0038/fts_gesture_mode
    chmod 0660 /sys/bus/i2c/devices/3-0038/fts_gesture_mode

    chown system system /sys/bus/i2c/devices/3-0038/fts_gesture_buf
    chmod 0660 /sys/bus/i2c/devices/3-0038/fts_gesture_buf

    chown system system /sys/bus/i2c/devices/3-0038/fts_glove_mode
    chmod 0660 /sys/bus/i2c/devices/3-0038/fts_glove_mode

    chown system system /sys/bus/i2c/devices/3-0038/fts_cover_mode
    chmod 0660 /sys/bus/i2c/devices/3-0038/fts_cover_mode

    chown system system /sys/devices/platform/soc/0.goodix_gf5228/proximity_state
    chmod 0660 /sys/devices/platform/soc/0.goodix_gf5228/proximity_state

# Gesture properties
# Temp (dclick)
on property:persist.dclick.on=0
    write /sys/bus/i2c/devices/3-0038/fts_dclick_mode 0

on property:persist.dclick.on=1
    write /sys/bus/i2c/devices/3-0038/fts_dclick_mode 1

on property:persist.screengesture=0
    write /sys/bus/i2c/devices/3-0038/fts_gesture_mode 0

on property:persist.screengesture=1
    write /sys/bus/i2c/devices/3-0038/fts_gesture_mode 1

#on property:persist.swipeup=1
#    write /sys/bus/i2c/devices/3-0038/fts_swipe_mode 1

# camera
setprop ro.asus.camera.preview_beauty "0:1;1:1;2:1;3:0"
setprop ro.asus.camera.video_beauty "0:1;1:1;2:1;3:0"
setprop ro.asus.camera.preview_portrait "0:1;1:1;2:1;3:0"
setprop ro.asus.camera.cam0.video_fps "HD@60,FHD@60,4K@60"
setprop ro.asus.camera.cam1.video_fps "HD@30,FHD@30"
setprop ro.asus.camera.cam2.video_fps "HD@30,FHD@30"
setprop ro.asus.camera.cam3.video_fps "HD@30,FHD@30"
setprop ro.asus.camera.dual_bokeh "0:0;1:0;2:0;3:1"
setprop ro.asus.camera.lens_type "0:standard;1:standard;2:wide-angle;3:virtual"
setprop ro.asus.camera.use_frame_processor "0"
setprop ro.asus.camera.scene_mode "0:1;1:1;2:1;3:1"
setprop ro.asus.camera.cam0.video_eis "invn"
setprop ro.asus.camera.cam1.video_eis "invn"
setprop ro.asus.camera.cam2.video_eis "invn"
setprop ro.asus.camera.cam0.eis_invn.sup_list "4K@30,FHD@60,HD@30,TV@30,FHD18TO9@30"
setprop ro.asus.camera.cam1.eis_invn.sup_list "FHD@30,HD@30,TV@30,FHD18TO9@30"
setprop ro.asus.camera.cam2.eis_invn.sup_list "FHD@30,HD@30,TV@30,FHD18TO9@30"
setprop camera.beautylive.support_flip "1"

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150
